@model IEnumerable<ModuleLecture>
@{
    ViewData["Title"] = "LectureIndex";
    Layout = "~/Views/Shared/_TeacherDashboard.cshtml";
}

<section class="content">
    <div class="container-fluid">
        @if ( Model.Count( ) != 0 )
        {
            <!-- Basic Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                YOUR Module LECTURES
                            </h2>
                            <br>
                            <p><a asp-action="CreateModule" asp-controller="TeacherDashboard" asp-route-courseID="@ViewBag.courseID" asp-route-moduleID="@ViewBag.moduleID">Add new lecture</a></p>
                        </div>
                        <div class="body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>LECTURE NAME</th>
                                        <th>DURATION</th>
                                      
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach ( var item in Model )
                                    {

                                        <tr>
                                            <th scope="row">@item.LectureName</th>
                                            <td>@item.LectureTime_MS</td>

                                            <td>  <a asp-action="DeleteLecture" asp-controller="TeacherDashboard" asp-route-lectureID="@item.Id" asp-route-moduleID="@ViewBag.moduleID" asp-route-courseID="@ViewBag.courseID">Delete</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Table -->
        }
        else
        {
            <h2>
                No lectures yet | add a lectures from this <a asp-action="CreateLecture" asp-controller="TeacherDashboard" asp-route-courseID="@ViewBag.courseID" asp-route-moduleID="@ViewBag.moduleID">Link</a>

            </h2>
        }


    </div>
</section>


